
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, .wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #4f4e4e;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-grow: 1;                     /* will take all remaining space */
    height: 100%;
}

.form-box{
    display: flex;
    flex-direction: column;
    flex-grow: 1;                    
    width: 50%;
}

.formfield-container{
    display: flex;
    flex-direction: column;
}

.fade-form-text{
    color: #ffcc00;
    font-size: 20px;
    padding: 0.5rem;
    letter-spacing: 1px;
}
input {
    border-radius: 8px;
    box-sizing: border-box;
    border-right:  3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    font-size: medium;
    font-family: "Mozilla Text", sans-serif;
}

textarea{
    border-radius: 5px;
    border-right:  3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 0 5px;
    font-size: 15px;
}
.send-button{
    display: flex;
}

.send-button :hover{
  background-color: rgb(236, 196, 230);
  transition: 0.8s ease-in;
  font-weight: bold;
}

.send-button button{
    font-size: 25px;
    margin: 1rem;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-family: "Mozilla Text", sans-serif;
    padding: 22px 0;
    font-size: 0.9rem;
}
.social-media a{
    color: white;
    text-decoration: none;
}
.social-media a:hover{
    color: rgb(246, 80, 8);
}