
header {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(26, 26, 26, 0.9);
}

header a {
  color: #ff4757;
  margin: 0;
  text-decoration: none;
}

input {
  padding: 5px 60px;
}

/* search-bar +button */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px 32px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background: none;
  height: 35px;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  gap: 5rem;
}

nav ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-family: "Mozilla Text", sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
}

nav ul li a:hover {
  color: #FFDD95;
}

.nav-button {
  display: flex;
  gap: 20px;
}

.nav-button button {
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  background-color: #FFDD95;
}

#menu-button:hover{
  color: #FFDD95;
}

/* sidebar */
.menu {
  display: none;
}
.close-btn:hover{
  color: #FFDD95;
}

/* Footer */
footer {
  font-family: "Mozilla Text", sans-serif;
  background: #111;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: beige;
  letter-spacing: 0.6px;
  border-top: 0.5px solid rgb(154, 156, 158);
}